@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

html {
    font-family: 'K2D', sans-serif;
}
button{
  transition: all 1s ease;
}
#slidefromright{
  animation: fromright 1s;
}
#slidefromleft{
  animation: fromleft 1s;
}
#slidefromtop{
  animation: fromtop 1s;
}
#slidefrombottom{
  animation: frombottom 2.25s;
}
#popup{
  animation: slidein 1s;
}
#deletebtn{
  animation: fromright 1s;
}
#closebtn{
  animation: showin 2s;
}

@keyframes fromright {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fromleft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes frombottom {
  0%,50% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fromtop{
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes showin {
  0%,50%{    
    
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* REMOVING ARROWS FROM NUMBER INPUT*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* --------------------------------- */